@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

/************************************ General *****************************/

body {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
}

.logo {
    margin: 10px;
    font-size: 35px;
    font-weight: 600;
    color: #a50606fd;
}


/************************************ Header ******************************/

/* aligning logo with menu items */
.header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/************************************ Nav bar *****************************/

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #fff;
    overflow: auto;
}
  
/* Navbar links */
.navbar a {
    float: right;
    text-align: center;
    padding: 15px;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;
    text-transform: uppercase;
    margin-right: 10px;
}

/* Bringing the menu items to line */
li {
    list-style: none;
    display: inline-block;
}
  
/* Navbar links on mouse-over */
.navbar li a:hover {
    background-color: #646464;
}
  
/* Current/active navbar link */
.active {
    background-color: #646464;
}




/************************************ Media Queries *****************************/

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels */
@media screen and (max-width: 600px) {
    .navbar {
      float: none;
      display: block;
    }
} 
  