@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}


/************************************ General *****************************/

body {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
}




/************************************ Header ******************************/

/* Not using h2 for logo */

/*
h2 {
    color: #555;
    letter-spacing: 1px;
    text-decoration: none;
}

*/

#logo {
    float: left;
    height: 50px;
    width: 200px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
}



/************************************ Nav bar *****************************/

#navbar {
    font-size: 150%;
    font-weight: 200;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: #92220b;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar a:hover {
    border-bottom: 1px solid #92220b;
}

.active {
    border-bottom: 1px solid #92220b;
}

/************************************ index Background Image *****************************/

#bg-image {
    height: 800px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}


#hero-outer{
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}



/************************************ index outer text *****************************/

#index-outer-text, #index-outer-text h2 , #index-outer-text h3 {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
}


#index-outer-text {
    font-size: 100%;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(226, 223, 223, 0.418);

    top: 250px;
    left: 150px;

    position: absolute;

    border-radius: 10px;
}



/************************************ service Background Image *****************************/

#service-bg-image {
    height: 400px;
    width: 100%;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}


/************************************ service outer text/button *****************************/

#service-outer-text, #service-outer-text h3 , #service-outer-text h2 {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 400;
}


#service-outer-text {
    font-size: 100%;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 800px;
    height: 170px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(116, 115, 115, 0.322);

    top: 100px;
    left: 550px;

    position: absolute;

    border-radius: 10px;
}

#service-btn {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    color: #aca4a4;
    background-color: #92220b;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-weight: 400;
}


#service-btn:hover {
    background: #92220b;
    color: #aca4a4;

    animation-name: icon-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


/************************************ service container *****************************/


#service-outer {
    margin: 15px;
    padding: 10px;
}


/************************************ footer *****************************/

footer {
    height: 100px;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 20px;
    padding: 15px;
    color: #120238;
}


.social-icons i:hover {
    color: #92220b;

    animation-name: icon-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes icon-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}


footer h3, footer li {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 15px;
    list-style-type: none;
}

footer h3 {
    text-transform: uppercase;
   
}

.footer-align {
    text-align: center;
    background-color: #aca4a4;
    padding-top: 15px;
}




/************************************ Media Queries *****************************/

