@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}


/************************************ General *****************************/

body {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
}


/************************************ Header ******************************/


#logo {
    float: left;
    height: 50px;
    width: 200px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 10px;
}


/************************************ Nav bar *****************************/


#navbar {
    font-size: 150%;
    font-weight: 200;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: #92220b;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar a:hover {
    border-bottom: 1px solid #92220b;
}

.active {
    border-bottom: 1px solid #92220b;
}


/************************************ index Background Image *****************************/

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#bg-image {
    height: 1000px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;

    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}


@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.2);
    }
}

/************************************ index outer text *****************************/


#index-outer-text, #index-outer-text h2 , #index-outer-text h3 {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#index-outer-text {
    font-size: 100%;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(226, 223, 223, 0.418);

    top: 250px;
    left: 150px;

    position: absolute;

    border-radius: 10px;
}

#index-outer-text p {
    font-weight: 500;
}
/************************************ service Background Image *****************************/


.hero-outer-1 {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}


/************************************ service outer text/button/service.html *****************************/


#service-outer-text, #service-outer-text h3 , #service-outer-text h2 {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#service-outer-text {
    font-size: 100%;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 800px;
    height: 170px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(116, 115, 115, 0.322);

    top: 100px;
    left: 550px;

    position: absolute;

    border-radius: 10px;

    animation-name: service-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes service-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}


#service-btn {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    color: #aca4a4;
    background-color: #92220b;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-weight: 400;
}


#service-btn:hover {
    background: #92220b;
    color: #aca4a4;

    animation-name: service-btn-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes service-btn-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}


/************************************ service container/service.html *****************************/

#service-hire-container {
    margin-top: 60px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.hero-outer-2 {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}

#service-container {
    margin-top: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

#service-container a {
    text-decoration: none;
    font-size: 2.4rem;
}

#service-container a:hover {
    border-radius: 15px;

    animation-name: service-container-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes service-container-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.services-block {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    width: 400px;
    height: 250px;
    background-color: rgba(95, 94, 94, 0.418);
    margin-right: 60px;
    padding-top: 25px;
    border-radius: 15px;
    text-align: center;
}

.services-block h4 {
    font-weight: 300;
    font-family: inherit;
}

.service-icon {
    width: 150px;
    height: 150px;
}

/************************************ contact *****************************/


.contact-bg-image {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}

#contact-container {
    height: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
}

.contact-form {
    font-size: 100%;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: justify;

    display: flex;

    width: 1200px;
    height: 650px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(70, 69, 69, 0.322);

    position: absolute;

    border-radius: 10px;
}


#hero-outer h3 {
    font-weight: 400;
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;

    animation-name: contact-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info h4 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 40px;
    text-decoration: underline;
    padding-top: 30px;
}

.contact-info i {
    padding-top: 50px;
    
}

.contact-info h5 {
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    display: inline-block;
    padding-left: 40px;
}

.contact-info a {
    text-decoration: none;
    color: #92220b;
}

.radio-inline {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #d6d0d0;
    position: relative;
    display: flex;
}


/************************ drop down/submit button *************************/

.drop-down-find {
    padding-left: 40px;
    
}

.drop-down-find select {
    border-radius: 5px;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: #d6d0d0;
    color: #92220b;
    font-family: inherit;
}

#submit-btn {
    width: 150px;
    text-align: center;
    letter-spacing: 2px;

    display: block;
    padding: 15px;
    background-color: #92220b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#submit-btn:hover {
    animation-name: submit-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}


@keyframes submit-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/******************************* Forms  ************************/


.contact-details {
    padding-top: 50px;
}

.contact-details input, .contact-details textarea {
    padding-top: 30px;
    font-weight: 400;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;

    background-color: #d6d0d0;

    display: inline;

    margin-left: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 15px;

    border-radius: 10px;

    color: #92220b;

    text-align: left;
}

.contact-info textarea {
    width: 455px;
    height: 100px;
}


input::placeholder {
    vertical-align: middle;
}


/************************************ iframe / map *****************************/


#contact-map {
    height: 300px;
    width: 100%;
    position: relative;
}


/************************************ webandux.html/webmaint.html/webdev.html *****************************/


 #hero-outer-service {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.service-info-bg {
    height: 1000px;
    width: 100%;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}

.service-info-form, .service-info-form-1 {
    font-size: 17px;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 50px 300px;

    display: block;
    
    width: 1200px;
    height: 470px;
    
    padding: 15px;
    
    background-color: rgba(177, 173, 173, 0.322);
    
    position: absolute;
    
    border-radius: 10px;
    }

.service-info-form-1 {
    height: 520px;
}

.service-info-form-1 a {
    text-decoration: none;
    color: #92220b;
    font-weight: bold;
}

.service-info-block {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    width: 1200px;
    height: 350px;
    margin: 50px;
    padding-top: 25px;
    border-radius: 15px;
    text-align: center;
    display: flex;
}

.services-block-text {
    color:  #d6d0d0;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    width: 400px;
    height: 250px;
    background-color: rgba(95, 94, 94, 0.418);
    margin-right: 60px;
    padding-top: 25px;
    border-radius: 15px;
    text-align: center;
}

.service-info-form h2, .service-info-form-1 h2 {
    margin-top: 60px;
}

.service-info-block {
    margin-top: 0px;
}

.service-info-block h1, .service-info-block span {
    font-weight: 700;
}

.service-info-block h1, .service-info-block p {
    color: #92220b;
    padding: 10px;
}

.services-block-text h4 {
    font-size: 25px;
}

.services-block-text a {
    text-decoration: none;
    color:  #d6d0d0;
    font-weight: bold;
}

.services-block-text span {
    font-size: 20px;
    color: #92220b;
}

.services-block-text p {
    color:  #d6d0d0;
}

.video-input {
    padding-top: 25px;
    width: 500px;
    height: 250px;
}


/************************************ footer *****************************/


footer {
    height: 100px;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 150%;
    margin: 20px;
    padding: 15px;
    color: #120238;
}


.social-icons i:hover {
    color: #92220b;

    animation-name: icon-zoom;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes icon-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}


footer h3, footer li {
    color: #92220b;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 15px;
    list-style-type: none;
}

footer h3 {
    text-transform: uppercase;
   
}

.footer-align {
    text-align: center;
    background-color: #aca4a4;
    padding-top: 15px;
}


.footer-align p {
    padding-bottom: 15px;
}

/************************************ Media Queries *****************************/

@media screen and (max-width: 600px){

/*********************************** index.html ********************************/

#logo {
    height: 30px;
    width: 120px;
    margin-left: 0;
    padding-top: 25px;
}

#navbar {
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 30px;
}

#navbar li {
    float: right;
    margin-right: 15px;
    font-weight: 400;
}

#hero-outer {
    display: flex;
    text-align: justify;
}

#index-outer-text {
    font-size: 8px;
    
    text-align: center;

    width: 250px;
    height: 120px;
    letter-spacing: 1px;

    padding-top: 10px;

    left: 100px;
    top: 200px;
}

 #index-outer-text, #index-outer-text h2 , #index-outer-text h3 {
    font-weight: 400;
}

.social-icons i {
    margin: 10px;
}

/*********************************** service.html ********************************/

.hero-outer-2 {
    height: 635px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/service-bg-image.jpg") no-repeat center center;
    background-size: cover;
}

#service-outer-text {
    font-size: 10px;
    top: 80px;
    left: 80px;
    width: 300px;
    height: 150px;
    letter-spacing: 1px;
}

#service-container {
    display: block;
    margin: 0 auto;
}

.services-block {
    width: 100%;
    height: 170px;
    margin: 0;
    background-color: rgba(95, 94, 94, 0.418);
    padding-top: 5px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.services-block h4 {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    color: #92220b;
    font-size: 15px;
    font-weight: 500;
}

.service-icon {
    width: 75px;
    height: 75px;
}


/*********************************** contact.html ********************************/


#hero-outer {
    height: 1050px;
}

#contact-container {
    margin-top: 30px;
}

.contact-bg-image {
    height: 1050px;
}

#bg-image {
    height: 1050px;
}

.contact-form {
    font-size: 15px;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: justify;
    margin: 15px auto;

    width: 450px;
    height: 920px;

    background-color: rgba(70, 69, 69, 0.322);

    left: 10px;

    position: absolute;

    display: block;

    border-radius: 10px;
}

.contact-details, .contact-info {
    padding: 0;
    margin: 0;
    border: 0;
}

.contact-details input, .contact-details textarea {
    padding-top: 30px;
    font-weight: 400;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;

    background-color: #d6d0d0;

    margin-left: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 15px;

    border-radius: 10px;

    color: #92220b;

    text-align: left;
}

.radio-inline {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: capitalize;
    position: relative;
    display: block;
    color: #d6d0d0;
}

#test {
    text-align: center;
}

#fname, #lname, #email, #tel, #job-title, #buss {
    width: 150px;
}

.contact-info h4 {
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 20px;
}

.contact-info h5 {
    font-size: 10px;
}

.drop-down-find {
    font-size: 10px;
}

.drop-down-find select {
    width: 150px;
}

.contact-details input, .contact-details textarea  {
    font-size: 10px;
}

.contact-info textarea {
    width: 350px;
    height: 75px;
}

.contact-details label {
    font-size: 12px;
    color: #92220b;
}


/*********************************** webandux.html/webmaint.html/webdev.html ********************************/


#hero-outer-service {
    height: 850px;
}

.service-info-bg {
    height: 850px;
}

.service-info-form, .service-info-form-1 {
    font-size: 10px;
    display: block;
    margin: 0 auto;
    width: 435px;
    height: 300px;
    margin-top: 30px;
}

.service-info-form h1, .service-info-form h2, .service-info-form-1 h1, .service-info-form-1 h2 {
    text-align: left;
    font-weight: 300;
}

.service-info-form h2 {
    margin-top: 50px;
}

.service-info-form-1 h2 {
    margin-top: 80px;
}

.service-info-block {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 170px;
    padding-top: 5px;
    position: relative;
    margin-top: 50px;
    display: flex;
    margin: 0 auto;
}

.services-block-text {
    color:  #d6d0d0;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    width: 100%;
    height: 350px;
    background-color: rgba(95, 94, 94, 0.418);
    display: block;
    margin: 10px 10px;
    padding-top: 10px;
    border-radius: 15px;
    text-align: center;
}

.services-block-text span {
    font-size: 20px;
    color: #92220b;
}

.services-block-text h4 {
    font-size: 25px;
}

.services-block-text p {
    color:  #d6d0d0;
}

.services-block-text a {
    color:  #d6d0d0;
    text-decoration: none;
    font-weight: bold;
}

.video-input {
    width: 350px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.service-info-form-1 br {
    display: none;
}


@media screen and (min-width: 600px){

}

/***** paragraph hidden immideate after h1 *****/ 
.service-info-form > p, .service-info-form-1 > p {
    display: none;
}

}